@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
         url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
         url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
         url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#playeros {
    border: 1px solid #c0c0c0;
    position: relative;
}

.playeros-panel {
    height: 100px;
}

.playeros-play {
    display: inline-block;
    background-color: #8a2be2;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0;
    position: absolute;
    left: 0;
}
.playeros-play:after {
    content: '\f04b';
}
.playeros-play-pause:after {
    content: '\f04c';
}
/*.playeros-play-stop:after {
    content: '\f04d';
}*/
.playeros-prev {
    display: inline-block;
    background-color: #7fffd4;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 50px;
}
.playeros-prev:after {
    content: '\f04a';
}
.playeros-next {
    display: inline-block;
    background-color: #7fffd4;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 100px;
}
.playeros-next:after {
    content: '\f04e';
}
.playeros-progress {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #faebd7;
    position: absolute;
    left: 150px;
}
.playeros-progress > .playeros-progress-process {
    width: 0;
    height: 50px;
    background-color: #a52a2a;
}
.playeros-progress > .playeros-progress-buffer {
    width: 0;
    height: 50px;
    background-color: #ffffff;
    opacity: .4;
    margin-top: -50px;
}
.playeros-composition {
    display: block;
    color: #8a2be2;
    height: 25px;
    position: absolute;
    top: 50px;
}
.playeros-time {
    display: block;
    color: #808080;
    line-height: 25px;
    position: absolute;
    top: 75px;
}
.playeros-time * {
    display: inline-block;
}
.playeros-time-current:after {
    content: ' / ';
}

.playeros-playlist {
    list-style-type: none;
    padding: 0;
    margin-bottom: -1px;
}
.playeros-playlist-item {
    line-height: 40px;
    padding: 0 10px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
}
.playeros-playlist-item:hover {
    cursor: pointer;
}
.playeros-playlist-item-current {
    background-color: #ccc;
}