@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
         url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
         url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
         url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.playeros-panel * {
    float: left;
}
.playeros-play {
    display: inline-block;
    background-color: blueviolet;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
}
.playeros-play:after {
    content: '\f04b';
}
.playeros-play-pause:after {
    content: '\f04c';
}
/*.playeros-play-stop:after {*/
    /*content: '[]';*/
/*}*/
.playeros-prev {
    display: inline-block;
    background-color: aquamarine;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
}
.playeros-prev:after {
    content: '\f04a';
}
.playeros-next {
    display: inline-block;
    background-color: aquamarine;
    border: none;
    width: 50px;
    height: 50px;
    font: normal normal normal 14px/1 FontAwesome;
}
.playeros-next:after {
    content: '\f04e';
}
.playeros-progress {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
}
.playeros-progress > .playeros-progress-process {
    width: 0px;
    height: 50px;
    background-color: brown;
    clear: both;
}
.playeros-progress > .playeros-progress-buffer {
    width: 0px;
    height: 50px;
    background-color: #ffffff;
    opacity: .4;
    margin-top: -50px;
    clear: both;
}
.playeros-composition {
    clear: both;
    display: block;
    color: blueviolet;
}
.playeros-time {
    clear: both;
    display: block;
    color: gray;
}
.playeros-time-current:after {
    content: ' / ';
}