$player-width:          300px;
$player-height:         300px;
$panel-button-width:    40px;
$panel-button-height:   40px;
$playlist-item-height:  30px;

$player-border-color:   #c2c2c2;


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-5tpscj');
	src:url('fonts/icomoon.eot?#iefix-5tpscj') format('embedded-opentype'),
	url('fonts/icomoon.woff?-5tpscj') format('woff'),
	url('fonts/icomoon.ttf?-5tpscj') format('truetype'),
	url('fonts/icomoon.svg?-5tpscj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin linear-gradient($color-from, $color-to, $type: vertical) {
  @if $color-from and $color-to {

    $alpha: alpha($color-to);
    @if $alpha < 1 {
      $color-rgb: change_color($color, $alpha: 1);
      background-color: $color-rgb;
    }
    @else {
      background-color: $color-to;
    }

    $ie-from: ie-hex-str($color-from);
    $ie-to: ie-hex-str($color-to);

    $webkit: 'left top, left bottom';
    $spec: 'top';
    $ie: 0;

    @if $type == vertical {
      $webkit: 'left top, left bottom';
      $spec: 'top';
      $ie: 0;
    }
    @if $type == horizontal {
      $webkit: 'left top, right top';
      $spec: 'to right';
      $ie: 1;
    }
    @if $type == left-right {
      $webkit: 'left top, right bottom';
      $spec: '135deg';
      $ie: 1;
    }
    @if $type == right-left {
      $webkit: 'left bottom, right top';
      $spec: '45deg';
      $ie: 1;
    }


    background-image: -webkit-gradient($type, #{$webkit}, from($color-from), to($color-to));
    background-image: -webkit-linear-gradient(#{$spec}, $color-from, $color-to);
    background-image: linear-gradient(#{$spec}, $color-from, $color-to);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-from}', endColorstr='#{$ie-to}', GradientType=#{$ie});

  }
}

.playeros {
	border: 1px solid $player-border-color;
	position: relative;
	width: $player-width;
}

.playeros-panel {
	height: $panel-button-height;
    @include linear-gradient(#f2f2f2,#deddde);
	border-bottom: 1px solid $player-border-color;
}

.playeros-panel-button {
	border: none;
	width: $panel-button-width;
	height: $panel-button-height;
	line-height: $panel-button-height;
	padding: 0;
	position: absolute;
	background: transparent;
	outline: none;
	color: #6b6b6b;
	border-right: 1px solid $player-border-color;

	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 17px;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:hover {
      @include linear-gradient(#deddde,#f2f2f2);
	}
}

.playeros-play {
	@extend .playeros-panel-button;
	left: 0;

	&:after {
		content: "\ea1c";
	}
}
.playeros-play-pause {
	&:after {
		content: "\ea1d";
	}
}
/*.playeros-play-stop:after {
    content: "\ea1e";
}*/
.playeros-prev {
	@extend .playeros-panel-button;
	left: $panel-button-height;

	&:after {
		content: "\ea1f";
	}
}
.playeros-next {
	@extend .playeros-panel-button;
	left: $panel-button-height * 2;

	&:after {
		content: "\ea20";
	}
}
.playeros-progress {
	display: inline-block;
	width: $player-width - ($panel-button-width * 3);
	height: $panel-button-height;
	position: absolute;
	left: $panel-button-height * 3;
  @include linear-gradient(#bcbcbc, #9a9a9a);

	.playeros-progress-process {
		width: 0;
		height: $panel-button-height;
      @include linear-gradient(#88888b, #737373);
	}

	.playeros-progress-buffer {
		width: 0;
		height: $panel-button-height;
		margin-top: -$panel-button-height;
		opacity: 0.4;
      @include linear-gradient(#b1b1b1, #8a8a8a);
	}
}
.playeros-composition {
	color: #8a2be2;
	height: $panel-button-height / 2;
	position: absolute;
	top: $panel-button-height;
	display: none;
}
.playeros-time {
	color: #808080;
	line-height: $panel-button-height / 2;
	position: absolute;
	top: $panel-button-height + ($panel-button-height / 2);
	display: none;

	* {
		display: inline-block;
	}
}
.playeros-time-current {
	&:after {
		content: ' / ';
	}
}

.playeros-playlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: $player-height;
	overflow-y: auto;
}
.playeros-playlist-item {
	line-height: $playlist-item-height;
	padding: 0 10px;
	background-color: #f6f6f6;
	color: #777777;
	font-size: 12px;
	border-bottom: 1px solid $player-border-color;

	&:last-child {
		border-bottom: none;
	}
	&:hover {
		cursor: pointer;
	}
}
.playeros-playlist-item-current {
	background-color: #ccc;
	color: #ffffff;
}